.team-container{
    max-width: 400px;
}

.team-image img{
    width: 350px;
    height: 300px;
    border-radius: 600px;
}

.team-description{
    color: gray;
}

.team-name{
    color: rgb(226, 106, 58);
}