.addService form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addService form input,textarea{
    width: 40%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid gray;
}